@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*=============== VARIABLES CSS ===============*/

:root {

  /*========== Colors ==========*/
  --purple-color: #4F46BA;
  --blue-color: #3734A9;
  --blue-bg-color: #C9E7F2;
  --grey-color: #757095;
  --grey-bg-color: #ebebeb;
  --dark-grey-color: #e2e2e2;
  --sky-blue-color: #DFF6FF;
  --orange-color: #FF7F5C;
  --bg-color: #FAFBFF;
  --black-color: #000;
  --white-color: #fff;

  --gradient: linear-gradient(155deg, #C9E7F2, #62BADA );


  /*========== Font and typography ==========*/

  --body-font: "Manrope", sans-serif;
  --header-text-font: 'Roboto Slab', sans-serif;

  --tiny-text: 10px;
  --small-text: 14px;
  --medium-text: 16px;
  --normal-text: 20px;
  --large-text: 24px;
  --big-text: 30px;
  --larger-text: 36px;
  --extra-large-text: 48px;
  --extra-larger-text: 56px;
  --extra-extra-large-text: 60px;
  --small-screen-title-text:27px;

  /*========== Font weight ==========*/

  --font-thin: 100;
  --font-light: 200;
  --font-normal: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--body-font);
  background-color: var(--bg-color);
}

/* Above fold section */

.above-fold {
  width: 100vw;
  background: var(--gradient);
  font-size: var(--small-text);
}

/* Navbar */

.navbar {
  padding: 30px 100px;
  width: 100%;
  top: 0;
  font-weight: var(--font-regular);
  z-index: 1000;
  position: relative;
  background-color: transparent;
}

.menu-icon {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: var(--normal-text);
  color: var(--black-color);
  font-weight: var(--font-bold);
}

.navbar-link {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 38%;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-link a {
  color: var(--black-color);
  margin-right: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbar-link a box-icon {
  margin-left: 5px;
}

.navbar-buttons-sign-in {
  text-decoration: none;
  margin-right: 30px;
  padding: 8px 12px;
  color: var(--black-color);
}

.navbar-buttons-start {
  background-color: var(--purple-color);
  color: var(--white-color);
  margin-right: 10px;
  padding: 15px 25px;
  text-decoration: none;
}

.navbar-buttons-start:hover {
  transition: 0.3s;
  background-color: var(--white-color);
  color: var(--purple-color);
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

/* Header */

.header {
  padding: 30px 100px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-left {
  flex: 1;
  margin-top: 100px;
  margin-right: 20px;
}

.header-right {
  flex: 1;
}

.header-title {
  font-size: var(--extra-extra-large-text);
  font-weight: var(--font-extra-bold);
}

.header-subtitle {
  margin-top: 10px;
  width: 80%;
  font-size: var(--normal-text);
  font-weight: var(--font-regular);
}

.header-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: var(--font-regular);
  font-size: var(--medium-text);
}

.header-buttons-get-started, .header-buttons-see-work {
  margin-right: 20px;
}

.header-buttons-get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-color);
  color: var(--white-color);
  border-radius: 47px;
  padding: 15px;
  width: 150px;
  text-decoration: none;
}

.header-buttons-get-started:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
  color: var(--blue-color);
}

.header-buttons-see-work {
  cursor: pointer;
  color: var(--blue-color);
}

.header-info {
  font-weight: var(--font-thin);
  font-size: var(--medium-text);
  color: var(--grey-color);
  display: flex;
  margin-top: 25px;
}

.header-info span {
  margin-left: 5px;
  margin-right: 20px;
}

.play-button {
  cursor: pointer;
  margin-right: 10px;
}


.header-right {
  position: relative;
  right: -50px;
  top: -1px;
}

.header-images {
  position: absolute;
  bottom: -54%;
  left: 30%;
  transform: translateX(-50%);
  z-index: 1;
}

.header-images img {
  width: 550px;
  height: 550px;
  margin-bottom: 10px;
}

.header-images img:first-child {
  position: absolute;
  height: 700px;
  top: -622px;
  left: 10%;
  transform: translateX(-60%);
  z-index: 2;
}

.header-images img:last-child {
  position: absolute;
  bottom: -30px;
  left: 1%;
  transform: translateX(-50%);
  z-index: 1;
}

.header-text {
  position: relative;
  z-index: 0;
}

.header-text svg {
  height: auto;
  max-width: 60%;
  width: 60%;
}


/* Comapnies */

.companies-container {
  position: relative;
  background-color: #F5F6F8;
  width: 100vw;
  padding: 10px;
  z-index: 5;
}

.companies-title {
  color: black;
  padding: 20px;
  font-size: var(--large-text);
  font-weight: var(--font-regular);
  text-align: center;
}

.companies-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company {
  margin: 10px;
  display: flex;
  align-items: center;
}

.company img {
  max-width: 150px;
  height: auto;
}

/* Section 1 */

.section-1 {
  padding: 80px 100px;
}

.section-1-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.section-1-heading {
  width: calc(50% - 10px);
}

.section-1-title {
  font-size: var(--extra-larger-text);
  font-weight: var(--font-extra-bold);
  margin-bottom: 10px;
}

.section-1-subtitle {
  font-size: var(--medium-text);
  font-weight: var(--font-regular);
}

.section-1-testimonial-card {
  background-color: var(--grey-bg-color);
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
  width: 35%;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;
  position: relative;
}

.section-1-testimonial-card-author {
  padding-top: 15px;
}

.section-1-quotes {
  position: absolute;
  left: 40px;
  top: -20px;
}

.section-1-content {
  margin-top: 20px;
}

.section-1-cards {
  display: flex;
  gap: 20px;
}

.section-1-card {
  border-radius: 20px;
  background-color: var(--white-color);
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  height: 380px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-1-card-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: var(--large-text);
  font-weight: var(--font-extra-bold);
}

.section-1-card-icon img {
  width: 50px;
  height: 50px;
}

.section-1-card-title {
  font-size: var(--big-text);
  font-weight: var(--font-extra-bold);
  margin-top: 10px;
  text-align: center;
}

.section-1-card-text {
  font-size: var(--small-text);
  font-weight: var(--font-regular);
  margin-top: 10px;
  text-align: center;
}

/* Section 2 */

.section-2 {
  padding: 30px 100px;
  display: flex;
}

.section-2-left {
  flex: 1;
  padding: 0 20px;
}

.section-2-right {
  flex: 1;
  padding: 0 20px;
}

.section-2-subheading {
  font-size: var(--small-text);
  font-weight: var(--font-bold);
}

.section-2-heading {
  font-size: var(--extra-large-text);
  font-weight: var(--font-extra-bold);
  margin-top: 5px;
}

.section-2-description {
  font-size: var(--normal-text);
  font-weight: var(--font-regular);
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.section-2-list {
  font-size: var(--normal-text);
  font-weight: var(--font-regular);
  margin-top: 20px;
  list-style-type: disc;
}

.section-2-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  list-style-type: none;
}

.section-2-list li box-icon {
  margin-right: 10px;
}

.section-2-list > div {
  margin-bottom: 10px;
}

.section-2-card-container {
  position: relative;
  height: 450px;
  width: 530px;
  border-radius: 20px;
  background-color: var(--sky-blue-color);
  overflow: hidden;
  z-index: 1;
}

.orange-circle, .blue-circle, .green-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  z-index: 0;
}

.orange-circle {
  background-color: #FF7F5C;
  top: -20px;
  left: -30px;
}

.blue-circle {
  background-color: #4F46BA;
  top: 150px;
  left: 480px;
}

.green-circle {
  background-color: #52F5D8;
  top: 400px;
  left: -25px;
}

.section-2-card {
  background-color: white;
  height: 85px;
  width: 430px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.section-2-card-img {
  margin-right: 20px;
}

.section-2-card-money-container {
  background-color: rgb(188, 188, 255);
  border-radius: 30px;
  padding: 3px;
  height: 26px;
  width: 90px;
}

.section-2-card-money {
  margin-bottom: 5px;
}

.section-2-card-user {
  font-size: 12px;
}

.section-2-card-img img {
  object-fit: cover;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.section-2-card:nth-child(1) {
  margin-left: 30px;
}

.section-2-card:nth-child(2) {
  margin-left: 90px;
}

.section-2-card:nth-child(3) {
  margin-left: 70px;
}

.section-2-card:nth-child(4) {
  margin-left: 5px;
}

/* Section 3 */

.section-3 {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}

.section-3-left {
  flex: 1;
}

.section-3-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-3-right img {
  margin-left: 20px;
}

.section-3-subheading {
  font-size: var(--small-text);
  font-weight: var(--font-bold);
}

.section-3-heading {
  font-size: var(--extra-large-text);
  font-weight: var(--font-extra-bold);
  margin-top: 5px;
}

.section-3-description {
  font-size: var(--normal-text);
  font-weight: var(--font-regular);
  margin-top: 20px;
  padding-bottom: 20px;
}

.section-3-subtitle,
.section-3-testimonial-card-text,
.section-3-testimonial-card-author {
  font-size: var(--medium-text);
  font-weight: var(--medium-text);
}

.section-3-testimonial-card {
  background-color: var(--grey-bg-color);
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
  width: 35%;
  border-radius: 20px;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 480px;

}

.section-3-testimonial-card-author {
  padding-top: 15px;
}

.section-3-quotes {
  position: absolute;
  left: 40px;
  top: -20px;
}

.section-3-right {
  height: 540px;
  width: 485px;
  background-color: var(--sky-blue-color);
}

.section-3-right {
  position: relative;
  height: 540px;
  width: 485px;
  background-color: var(--sky-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3-right img:first-child {
  height: 540px;
  width: 660px;
  position: absolute;
  top: 250px;
  left: -200px;
}

.section-3-right img:last-child {
  height: 680px;
  width: 3370px;
  margin-left: 20px;
  margin-top: -135px;
}

/* Features */

.features {
  background-color: var(--blue-bg-color);
  padding: 120px 100px;
}

.features-title {
  font-size: var(--extra-extra-large-text);
  font-weight: var(--font-extra-bold);
  margin-bottom: 20px;
}

.features-subtitle {
  width: 42%;
  font-size: var(--medium-text);
  font-weight: var(--font-regular);
  margin-bottom: 40px;
}

.features-cards {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 20px;
}

.features-card {
  background-color: var(--white-color);
  border-radius: 20px;
  flex: 1;
  border: 1px solid #d1d1d1;
  padding-top: 20px;
  padding: 20px;
}

.features-card-title {
  font-size: var(--large-text);
  font-weight: var(--font-extra-bold);
  margin-bottom: 10px;
}

.features-card-subtitle {
  font-size: var(--small-text);
  font-weight: var(--font-regular);
}

.features-small-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-card {
  display: flex;
  flex-direction: column;

  justify-content: center;
  height: 330px;
}

.features-small-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 78%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #d1d1d1;
}

.feature-card-icon {
  margin-bottom: 30px;
}

.features-small-card:first-child {
  margin-bottom: 20px;
  width: 100%;
}

/* Testimonial */

.testimonial {
  position: relative;
  padding: 30px 100px;
  height: 100vh;
}

.testimonial-title {
  font-size: var(--extra-extra-large-text);
  font-weight: var(--font-extra-bold);
  margin-bottom: 20px;
}

.testimonial-subtitle {
  width: 50%;
  font-size: var(--medium-text);
  font-weight: var(--font-regular);
  margin-bottom: 40px;
}

.testimonial-cards {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  transition: transform 0.5s ease;
  -webkit-overflow-scrolling: touch;
}

.testimonial-controls {
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  transform: translateY(-30%);
}

.testimonial-control-left {
  position: absolute;
  left: -200px;
}

.testimonial-control-right {
  position: absolute;
  left: 1180px;
}

.testimonial-control {
  background: none;
  border: none;
  cursor: pointer;
  height: 350px;
  width: 350px;;
}

.testimonial-card {
  position: relative;
  display: flex;
  height: 400px;
  width: 700px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20PX;
  border: 1px solid #d1d1d1;
}

.testimonial-card {
  width: 55%;
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 20px;
}


.testimonial-card-left {
  padding-top: 20px;
  max-width: 55%;
}

.testimonial-card-text {
  font-size: var(--large-text);
  font-weight: var(--font-semi-bold);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-card-author {
  font-size: var(--normal-text);
  font-weight: var(--font-semi-bold);
  margin-top: 30px;
}

.testimonial-card-img {
  width: 100px;
  height: 100%;
  margin-left: 20px;
}

.testimonial-card-img img {
  width: 250%;
  height: 100%;
  object-fit: cover;
}

/* Stats */

.stats {
  width: 100%;
  padding: 30px 100px;
  height: 256px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-color);
  position: relative;
}

.stats-left {
  width: 25%;
  font-weight: var(--font-regular);
  font-size: var(--normal-text);
  padding-right: 20px;
  margin-right: 40px;
  border-right: 3px solid black;
  height: 130%;
  display: flex;
  align-items: center;
}

.stats-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stat {
  margin-right: 40px;
}

.stat-title {
  font-size: var(--extra-extra-large-text);
  font-weight: var(--font-extra-bold);
}

.stat-description {
  display: flex;
  font-size: var(--big-text);
  font-weight: var(--font-regular);
}

/* Blog */

.blogs {
  padding: 30px 100px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.blogs-title {
  font-weight: var(--font-extra-bold);
  font-size: var(--extra-extra-large-text);
  margin-bottom: 20px;
}

.blog-category {
  font-size: var(--medium-text);
  font-weight: var(--font-bold);
  margin-bottom: 10px;
}

.blog-title {
  font-size: var(--big-text);
  font-weight: var(--font-bold);
}

.blog-read-more {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: var(--medium-text);
  font-weight: var(--font-semi-bold);
}

.blogs-long-card {
  cursor: pointer;
  padding: 20px;
  background-color: var(--white-color);
  border: 1px solid #d1d1d1;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.blog-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-content-left {
  flex: 1;
}

.blog-content-right {
  flex: 1;
  text-align: right;
}

.blogs-bottom {
  display: flex;
  flex-direction: row;
}

.blogs-card {
  cursor: pointer;
  padding: 20px;
  margin-right: 25px;
  background-color: var(--white-color);
  border: 1px solid #d1d1d1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-img-small img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* FAQ */

.faq {
  padding: 30px 100px;
  margin-bottom: 50px;
}

.faq-title {
  font-size: var(--extra-extra-large-text);
  font-weight: var(--font-extra-bold);
  margin-bottom: 20px;
  width: 37%;
}

.faq-content {
  display: flex;
  justify-content: space-between;
}

.faq-left {
  width: 70%;
}

.faq-card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #d1d1d1;
  margin-bottom: 20px;
  cursor: pointer;
}

.faq-card-title {
  font-size: var(--normal-text);
  font-weight: var(--font-extra-bold);
  margin-bottom: 10px;
}

.faq-card-description {
  font-size: var(--medium-text);
  font-weight: var(--font-regular);
  display: none;
}

.faq-card-plus {
  position: absolute;
  top: 10px;
  right: 10px;
}

.faq-card-plus box-icon {
  color: var(--orange-color);
}

.faq-right {
  width: 25%;
}

.faq-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 20px;
  margin-right: 0px;
  height: 475px;
  width: 330px;
  text-align: center;
}

.message-icon {
  height: 70px;
  margin-bottom: 20px;
}

.faq-contact-title {
  font-size: var(--normal-text);
  font-weight: var(--font-extra-bold);
  margin-bottom: 10px;
}

.faq-contact-description {
  font-size: var(--medium-text);
  font-weight: var(--font-semi-bold);
  margin-bottom: 10px;
}

.faq-button {
  margin-top: 10px;
  font-size: var(--medium-text);
  font-weight: var(--font-semi-bold);
  padding: 15px 30px;
  background-color: var(--orange-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
}

.faq-button:hover {
  background-color: darkorange;
}


.faq-card.clicked .faq-card-description {
  display: block;
}

/* CTA*/

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px 400px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}

.cta img {
  padding: 30px 100px;
  position: absolute;
  top: 0;
  left: 0;
  max-width:100%;
  height:auto;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.cta-title {
  font-size: var(--extra-large-text);
  font-weight: var(--font-extra-bold);
  color: var(--white-color);
  margin-bottom: 20px;
}

.cta-subtitile {
  margin-top: 10px;
  font-size: 20px;
  padding: 15px 30px;
  background-color: var(--orange-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cta-subtitile:hover {
  background-color: darkorange;
}

/* Footer */

.footer {
  width: 100%;
  padding: 30px 100px;
  overflow: hidden;
}

.footer-col {
  width: 25%;
  float: left;
}

.footer-title {
  font-size: var(--normal-text);
  font-weight: var(--font-bold);
  margin-bottom: 10px;
}

.footer-socials {
  display: flex;
  margin-top: 15px;
}

.footer-socials box-icon {
  margin-right: 10px;
}

.footer-items {
  list-style: none;
  padding: 0;
}

.footer-items li {
  font-size: var(--medium-text);
  font-weight: var(--font-medium);
  margin-bottom: 5px;
}

.footer-input {
  height: 52px;
  padding: 10px;
  width: calc(100% - 20px);
  border: none;
  background-color: #EEEEFF;
}

.footer-col:nth-child(4) {
  width: 25%;
  float: left;
}

.footer-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 10px 30px;
  height: 52px;
  border: none;
  cursor: pointer;
}

.footer-button:hover {
  background-color: var(--purple-color);
}

.footer-description {
  font-size: var(--medium-text);
  font-weight: var(--font-medium);
  color: var(--grey-color);
}

.footer-top {
  margin-bottom: 70px;
}

.footer-bottom {
  display: flex;
  font-size: var(--medium-text);
  font-weight: var(--font-regular);
  align-items: center;
  justify-content: center;
  clear: both;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

/*========== Responsive Styles ==========*/

@media screen and (max-width: 768px) {

  /*--------- Navbar ---------*/

  .navbar {
    padding: 20px 30px;
    margin-right: 0px;
  }

  .menu-container {
    width: 200%;
    height: 100%;
    background-color: white;
  }

  .menu-icon {
    display: block;
  }

  .navbar-link,
  .navbar-buttons {
    top: 120px;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .navbar-link a,
  .navbar-buttons a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .show-nav .navbar-link,
  .show-nav .navbar-buttons {
    top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /*--------- Header ---------*/

  .header {
    padding: 5px 30px;
    margin-right: 0px;
  }

  .header-right {
    display: none;
  }

  .header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header-buttons-get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-color);
    color: var(--white-color);
    border-radius: 47px;
    padding: 15px;
    width: fit-content;
    text-decoration: none;
  }

  /*--------- Companies ---------*/

  .companies-content {
    display: flex;
    flex-direction: column;
  }

  /*--------- Section 1 ---------*/

  .section-1 {
    padding: 20px 30px;
  }

  .section-1-row {
    display: flex;
    flex-direction: column;
  }

  .section-1-heading {
    width: 100%;
    text-align: center;
  }

  .section-1-testimonial-card {
    margin: 0;
    margin-top: 30px;
    padding: 30px;
    height: 60%;
    width: 100%;
  }

  .section-1-cards {
    display: flex;
    flex-direction: column;
  }

  .section-1-card {
    width: 100%;
  }

  /*--------- Section 2 ---------*/

  .section-2 {
    padding: 20px 30px;
    display: flex;
    flex-direction: column-reverse;
  }

  .section-2-left {
    display: none;
  }

.section-2-heading, .section-2-subheading, .section-2-description {
  text-align: center;
}

  /*--------- Section 3 ---------*/

  .section-3 {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
  }

  .section-3-heading, .section-3-subheading, .section-3-description {
    text-align: center;
  }

  .section-3-right {
    display: none;
  }

  .section-3-testimonial-card {
    margin: 0;
    margin-top: 30px;
    padding: 30px;
    height: 60%;
    width: 100%;
  }

  /*--------- Features ---------*/

  .features {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features-title, .features-subtitle {
    text-align: center;
  }

  .features-subtitle {
    width: 90%;
  }

  .features-cards {
    display: flex;
    flex-direction: column;
  }

  /*--------- Testimonial ---------*/

  .testimonial {
    padding: 20px 40px;
    display: flex;
    height: 300px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1200px; /* Need this because the elements below somehow clip above testimonial */
  }

  .testimonial-title {
    font-size: var(--small-screen-title-text);
  }

  .testimonial-subtitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .testimonial-cards {
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }

  .testimonial-card {
    text-align: start;
    width: 90%;
    max-width: 350px;
    margin-bottom: 20px;
    display: flex;
  }

  .testimonial-card-img {
    flex: 0 0 auto;
    width: 100px;
    margin-right: 20px;
  }

  .testimonial-card-img img {
    width: 130%;
    height: 100%;
  }

  .testimonial-card-author {
    font-size: var(--tiny-text);
  }

  .testimonial-card-text {
    font-size: var(--tiny-text);
  }

  .testimonial-controls {
    display: none;
  }



  /*--------- Stats ---------*/

  .stats {
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    height: 200px;
  }

  .stats-left {
    width: 100%;
    margin-right: 0;
    border-right: none;
    text-align: center;
  }

  .stats-right {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .stat-title {
    font-size: var(--normal-text);
  }

  .stat-description {
    display: flex;
    align-items: center;
    font-size: var(--tiny-text);
  }

  /*--------- Blogs ---------*/

  .blogs {
    padding: 20px 30px;
  }

  .blogs-title{
    text-align: center;
  }

  .blogs-top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .blogs-long-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-content-right {
    text-align: left;
    margin-top: 10px;
  }

  .blogs-bottom {
    display: flex;
    flex-direction: column;
  }


/*--------- FAQ ---------*/

.faq {
  padding: 20px 30px;
}

  .faq-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .faq-content {
    flex-direction: column;
  }

  .faq-left,
  .faq-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .faq-card,
  .faq-contact {
    width: 100%;
  }

  .faq-card-plus {
    position: static;
    margin-top: 10px;
    text-align: right;
  }

  .faq-contact {
    height: auto;
    padding: 30px;
  }

  /*--------- CTA ---------*/

  .cta {
    background-color: #3734A9;
    padding: 20px;
  }

  .cta-title {
    font-size: var(--large-text);
  }

  .cta-subtitile {
    width: 75%;
  }

  .cta-bg {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin-top: 20px;
  }

  /*--------- Footer ---------*/

  .footer {
    margin-bottom: 20px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-top {
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-col {
    margin-bottom: 20px;
  }

  .footer-cols {
    width: 60%;
  }

  .footer-title {
    font-size: var(--medium-text);
  }

  .footer-button {
    padding: 10px 30px;
  }

  .footer-bottom{
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .menu-container {
    background-color: transparent;
  }
}