@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {

  /*========== Colors ==========*/
  --purple-color: #4F46BA;
  --blue-color: #3734A9;
  --grey-color: #757095;
  --dark-grey-color: #e2e2e2;
  --sky-blue-color: #DFF6FF;

  --gradient: linear-gradient(155deg, #C9E7F2, #62BADA );


  /*========== Font and typography ==========*/
  --body-font: "Manrope", sans-serif;
  --small-text: 14px;
  --medium-text: 16px;
  --normal-text: 20px;
  --large-text: 22px;
  --big-text: 30px;
  --larger-text: 56px;
  --extra-large-text: 60px;

  /*========== Font weight ==========*/
  --font-thin: 400;
  --font-normal: 500;
  --font-medium: 600;
  --font-semi-bold: 700;
  --font-bold: 800;
  --font-dark: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--body-font);
  background-color: #FAFBFF;
}

/* Above fold section */

.above-fold {
  width: 100vw;
  background: var(--gradient);
  font-size: var(--small-text);
}

/* Navbar */

.navbar {
  padding: 30px 100px;
  width: 100%;
  top: 0;
  font-weight: var(--font-thin);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: var(--normal-text);
  color: black;
  font-weight: var(--font-semi-bold);
}

.navbar-link a {
  color: black;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-buttons-sign-in {
  text-decoration: none;
  margin-right: 30px;
  padding: 8px 12px;
  color: black;
}

.navbar-buttons-start {
  background-color: var(--purple-color);
  color: white;
  margin-right: 10px;
  padding: 15px 25px;
  text-decoration: none;
}

.navbar-buttons-start:hover {
  transition: 0.3s;
  background-color: white;
  color: var(--purple-color);
}

/* Header */

.header {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-left {
  flex: 1;
  margin-right: 20px;
}

.header-right {
  flex: 1;
}

.header-title {
  font-size: var(--extra-large-text);
  font-weight: var(--font-bold);
}

.header-subtitle {
  margin-top: 10px;
  width: 80%;
  font-size: var(--normal-text);
  font-weight: var(--font-thin);
}

.header-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: var(--font-thin);
  font-size: var(--medium-text);
}

.header-buttons-get-started, .header-buttons-see-work {
  margin-right: 20px;
}

.header-buttons-get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-color);
  color: white;
  border-radius: 47px;
  padding: 15px;
  width: 150px;
  text-decoration: none;
}

.header-buttons-get-started:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: white;
  color: var(--blue-color);
}

.header-buttons-see-work {
  color: var(--blue-color);
}

.header-info {
  font-weight: var(--font-thin);
  font-size: var(--medium-text);
  color: var(--grey-color);
  display: flex;
  margin-top: 25px;
}

.header-info span {
  margin-right: 20px;
}


/* Comapnies */

.companies-container {
  background-color: #F5F6F8;
  width: 100vw;
  padding: 10px;
}

.companies-title {
  color: black;
  padding: 20px;
  font-size: var(--large-text);
  font-weight: var(--font-thin);
  text-align: center;
}

.companies-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.company {
  margin: 10px;
  display: flex;
  align-items: center;
}

.company img {
  max-width: 150px;
  height: auto;
}

/* Section 1 */

.section-1 {
  padding: 80px 100px;
}

.section-1-row {
  display: flex;
  justify-content: space-between;
}

.section-1-heading {
  width: calc(50% - 10px);
}

.section-1-title {
  font-size: var(--larger-text);
  font-weight: var(--font-bold);
  margin-bottom: 10px;
}

.section-1-subtitle,
.section-1-testimonial-card-text,
.section-1-testimonial-card-author {
  font-size: var(--medium-text);
  font-weight: var(--medium-text);
  color: #777;
}

.section-1-testimonial-card {
  background-color: var(--dark-grey-color);
  color: black;
  font-size: var(--medium-text);
  font-weight: var(--font-medium);
  width: 35%;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 20px;
  position: relative;
}

.section-1-testimonial-card-author {
  padding-top: 15px;
}

.section-1-quotes {
  position: absolute;
  left: 40px;
  top: -20px;
}

.section-1-content {
  margin-top: 20px;
}

.section-1-cards {
  display: flex;
  gap: 20px;
}

.section-1-card {
  border-radius: 20px;
  flex: 1;
  border: 1px solid #ddd;
  padding: 20px;
  height: 380px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-1-card-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: var(--large-text);
  font-weight: var(--font-bold);
}

.section-1-card-icon img {
  width: 50px;
  height: 50px;
}

.section-1-card-title {
  font-size: var(--big-text);
  font-weight: var(--font-bold);
  margin-top: 10px;
  text-align: center;
}

.section-1-card-text {
  font-size: var(--small-text);
  font-weight: var(--font-thin);
  margin-top: 10px;
  text-align: center;
}

/* Section 2 */

.section-2 {
  padding: 30px 100px;
  display: flex;
}

.section-2-left {
  flex: 1;
  padding: 0 20px;
}

.section-2-right {
  flex: 1;
  padding: 0 20px;
}

.section-2-subheading {
  font-size: 24px;
  font-weight: bold;
}

.section-2-heading {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

.section-2-description {
  font-size: 16px;
  color: #777;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.section-2-list {
  margin-top: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

.section-2-list > li {
  margin-bottom: 10px;
  list-style-type: none;
}

.section-2-list > div {
  margin-bottom: 10px;
}

.section-2-card-container {
  position: relative;
  height: 480px;
  width: 530px;
  border-radius: 20px;
  background-color: var(--sky-blue-color);
  overflow: hidden;
  z-index: 1;
}

.orange-circle, .blue-circle, .green-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  z-index: 0;
}

.orange-circle {
  background-color: #FF7F5C;
  top: -20px;
  left: -30px;
}

.blue-circle {
  background-color: #4F46BA;
  top: 150px;
  left: 480px;
}

.green-circle {
  background-color: #52F5D8;
  top: 400px;
  left: -25px;
}

.section-2-card {
  background-color: white;
  height: 85px;
  width: 430px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.section-2-card-img {
  margin-right: 20px;
}

.section-2-card-money-container {
  background-color: rgb(188, 188, 255);
  border-radius: 30px;
  padding: 3px;
  height: 26px;
  width: 90px;
}

.section-2-card-money {
  margin-bottom: 5px;
}

.section-2-card-user {
  font-size: 12px;
}

.section-2-card-img img {
  object-fit: cover;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.section-2-card:nth-child(1) {
  margin-left: 30px;
}

.section-2-card:nth-child(2) {
  margin-left: 90px;
}

.section-2-card:nth-child(3) {
  margin-left: 70px;
}

.section-2-card:nth-child(4) {
  margin-left: 5px;
}

/* Section 3 */

.section-3 {
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
}

.section-3-left {
  flex: 1;
}

.section-3-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-3-right img {
  margin-left: 20px;
}

.section-3-subtitle,
.section-3-testimonial-card-text,
.section-3-testimonial-card-author {
  font-size: var(--medium-text);
  font-weight: var(--medium-text);
  color: #777;
}

.section-3-testimonial-card {
  background-color: var(--dark-grey-color);
  color: black;
  font-size: var(--medium-text);
  font-weight: var(--font-medium);
  width: 480px;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
  position: relative;
}

.section-3-testimonial-card-author {
  padding-top: 15px;
}

.section-3-quotes {
  position: absolute;
  left: 40px;
  top: -20px;
}

.section-3-right {
  height: 540px;
  width: 485px;
  background-color: var(--sky-blue-color);
}

.section-3-right {
  position: relative; /* Establish positioning context */
  height: 540px;
  width: 485px;
  background-color: var(--sky-blue-color);
  display: flex;
  justify-content: center; /* Center-align items horizontally */
  align-items: center; /* Center-align items vertically */
}

.section-3-right img:first-child {
  height: 540px;
  width: 660px;
  position: absolute; /* Position the chart image */
  top: 250px; /* Adjust vertical position */
  left: -200px; /* Adjust horizontal position */
}

.section-3-right img:last-child {
  height: 680px;
  width: 3370px;
  margin-left: 20px;
  margin-top: -135px; /* Add some space between the two images */
}

/* Footer */
.footer {
  width: 100%;
  padding: 30px 100px; /* Adjust padding as needed */
  overflow: hidden; /* Add overflow hidden to contain floated elements */
}

.footer-col {
  width: 25%; /* Each column takes up 25% of the width */
  float: left; /* Float the columns to achieve side-by-side layout */
}

.footer-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-socials {
  display: flex;
  margin-top: 15px;
}

.footer-socials box-icon {
  margin-right: 10px; /* Adjust as needed to create the desired gap */
}

.footer-items {
  list-style: none;
  padding: 0;
}

.footer-items li {
  margin-bottom: 5px;
}

.footer-input {
  height: 52px;
  padding: 10px 10px;
  width: calc(100% - 10px); /* Adjust input width as needed */
}

.footer-col:nth-child(4) {
  width: 25%; /* Each column takes up 25% of the width */
  float: left; /* Float the columns to achieve side-by-side layout */
}

.footer-input-wrapper {
  display: flex; /* Use flexbox to layout input and button side by side */
  align-items: center; /* Center items vertically */
}

.footer-button {
  background-color: var(--blue-color);
  color: white;
  padding: 10px 10px;
  height: 52px;
  border: none;
  cursor: pointer;
}

.footer-description {
  font-size: 12px;
  color: #777;
}

.footer-top {
  margin-bottom: 70px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both; /* Clear floats */
  border-top: 1px solid #ddd; /* Add border between top and bottom sections */
  padding-top: 20px; /* Add space between top and bottom sections */
}